@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'DynaPuff';
    src: url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
}

.titles{
    font-family: 'DynaPuff', sans-serif !important;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
  @apply max-w-4xl mx-auto bg-bg text-whiter;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
--background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card_title{
    @apply text-2xl font-bold text-gray-800;
}

/* 모바일 뷰 스타일 */
@media (max-width: 480px) {
  .container {
    @apply px-2; 
  }

  h1 {
    @apply text-2xl;
  }
}

/* SWAL 로딩바 색상 변경하기*/
.my-custom-progress-bar {
  background-color: #FBFBFB !important; 
  height: 5px; 
}
